body {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-size: 30px;
	margin: 0;
}

h2 {
	font-size: 25px;
	text-align: center;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

ul,
ol {
	padding: 0;
	list-style-type: none;
	margin: 0;
}

img {
	box-sizing: border-box;
}

p {
	margin: 0;
}

header {
	width: 100%;
}

header .menu {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	padding-right: 40px;
}


header a {
	padding: 10px;
	color: black;
}

header a.active {
	background-color: #4CABF5;
	color: white;
	border-radius: 5px 5px 0 0;
}

main {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.title {
	margin: 10px 40px 0 0;
	color: white;
	padding: 10px;
	background-color: #4CABF5;
}

.gallery {
	width: 80%;
	height: 400px;
	display: flex;
	margin: 0 auto;
}

.gallery .first {
	width: 50%;
	height: 100%;
}

.gallery .first img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery .right-side {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.gallery .second {
	width: 100%;
	height: 50%;
}

.gallery .bottom-side {
	display: flex;
	width: 100%;
	height: 50%;
}

.gallery .bottom-side .img-wrapper {
	width: 50%;
	height: 100%;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.items-nav .list-items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-evenly;
}

.items-nav .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.items-nav .img-wrapper {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.items-nav img {
	width: 100%;
	height: 100%;
}

input[type="button"] {
	background-color: inherit;
	border: none;
	padding: 5px;
	text-decoration: underline;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: bold;
}

input[type="button"]:hover {
	color: white;
	cursor: pointer;
	background-color: #4CABF5;
	border-radius: 5px;
}

.items-nav .item span {
	font-weight: bold;
}

.horizontal-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.horizontal-card {
	overflow: hidden;
	width: 80%;
	display: flex;
	justify-content: space-around;
	gap: 25px;
	padding: 15px;
	border: 2px #4CABF5 solid;
	border-radius: 30px;
}

.horizontal-card .content {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.ingredients {
	display: flex;
	width: 30%;
	flex-direction: column;
	gap: 20px;
	align-items: start;
}

.ingredients>ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: thin #4CABF5 solid;
	border-radius: 15px;
	padding: 15px;
	box-sizing: border-box;
}

.horizontal-card .img-wrapper {
	width: 10%;
	min-width: 150px;
	height: auto;
}

.horizontal-card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 30px;
}

.cooking-block {
	display: flex;
	width: 30%;
	flex-direction: column;
	gap: 20px;
}

.list-split {
	border: none;
	height: 3px;
	background-color: #4CABF5;
	width: 100%;
}

.cooking-block > ol {
	display: flex;
	flex-direction: column;
	gap: 10px;
	line-height: 1.5em;
}

.cooking-block>ol span {
	padding: 5px;
	color: white;
	border-radius: 5px;
	font-weight: 600;
	background-color: #4CABF5;
	text-transform: uppercase;
}

.horizontal-card .time-cooking {
	text-align: right;
}

.time-cooking span {
	font-weight: bold;
}

.vertical-cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 30px;
}

.vertical-card {
	width: 40%;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	border-radius: 30px;
	border: 2px #4CABF5 solid;
	padding: 15px;
}

.vertical-card .card-wrapper {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

.vertical-card .ingredients {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.vertical-card .cooking-block {
	width: 40%;
}

.vertical-card .img-wrapper {
	width: 80%;
	min-width: 150px;
	height: 150px;
}

.vertical-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}

.vertical-card .content-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer {
	margin: 40px 0 20px 0;
	text-align: center;
}

@media (max-width: 800px) {
	.horizontal-card {
		flex-wrap: wrap;
	}

	.horizontal-card .content {
		flex-wrap: wrap;
	}

	.cooking-block {
		width: 100%;
	}

	.ingredients {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.gallery {
		flex-direction: column;
		height: auto;
	}
	
	.gallery .first {
		width: 100%;
	}
	
	.gallery .first img {
		height: 100%;
	}
	
	.gallery .right-side {
		height: 100%;
	}
	
	.gallery .second {
		height: 100%;
	}
	
	.gallery .bottom-side {
		height: 100%;
	}
	
	.gallery .bottom-side .img-wrapper {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 600px) {
	.title {
		display: none;
	}

	header .menu {
		margin-bottom: 15px;
		justify-content: center;
		flex-wrap: wrap;
		padding-right: 0;
	}

	.vertical-card .card-wrapper {
		flex-direction: column;
	}

	.vertical-card .ingredients {
		width: 100%;
	}
	
	.vertical-card .cooking-block {
		width: 100%;
	}
}