body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 25px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

img {
  box-sizing: border-box;
}

header {
  overflow: hidden;
  height: 44px;
  margin-right: 15px;
}

header .menu {
  float: right;
  padding-right: 40px;
}

header .menu .menu-item {
  display: inline;
}

.menu-item>a {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  color: black;
  text-decoration: none;
}

.menu-item>a.active {
  color: white;
  background-color: #4CABF5;
  font-weight: 600;
}

.title {
  padding: 8px 0 8px 20px;
  color: white;
  background-color: #4CABF5;
  margin-right: 30px;
}

.subtitle {
  margin: 30px auto; 
}

.gallery {
  width: 85%;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery img {
  display: block;
}

.gallery .first {
  display: block;
  width: 40%;
  height: 100%;
  float: left;
  object-fit: cover;
}

.gallery .right-side {
  overflow: hidden;
}

.gallery .second {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery .bottom-side {
  overflow: hidden;
}

.gallery .bottom-side > img {
  float: left;
  width: 50%;
  height: 100px;
  object-fit: cover;
}

.gallery .fifth {
  clear: left;
}

.popular-meal {
  display: block;
  text-align: center;
}

.horizontal-card {
  width: 1000px;
  margin: 20px auto;
  border-radius: 30px;
  padding: 20px;
  overflow: hidden;
  border: 2px #4CABF5 solid;
  text-align: left;
}

.horizontal-card .card-image {
  width: 170px;
  height: 220px;
  border-radius: 25px;
  margin-right: 25px;
}

.first .card-image {
  float: left;
}

.second .card-image{
  float: right;
  margin-left: 25px;
  margin-right: 0;
}

.horizontal-card .card-content {
  overflow: hidden;
}

.horizontal-card .content-info-wrapper {
  overflow: hidden;
}

.horizontal-card .content-title {
  float: left;
  margin-right: 15px;
}

.horizontal-card .content-title > h3 {
  margin: 0;
  font-size: 22px;
}

.meal-type {
  display: inline-block;
  background-color: #4CABF5;
  padding: 7px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin: 10px 0;
  font-style: italic;
  text-transform: uppercase;
}

.horizontal-card .ingredients {
  margin-bottom: 15px;
  float: left;
  margin-right: 20px;
}

.ingredients > ul {
  border: thin #4CABF5 solid;
  border-radius: 15px;
  padding: 15px;
}

.ingredients > h4, .cooking-block > h4 {
  text-align: center;
  padding: 5px;
  text-decoration: underline;
}

.ingredients li, .cooking-block li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.horizontal-card .cooking-block {
  overflow: hidden;
}

.cooking-block span {
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  background-color: #4CABF5;
  text-transform: uppercase;
}

.list-split {
  border: none;
  height: 3px;
  background-color: #4CABF5;
}

.card-details {
  background-color: inherit;
  border: none;
  padding: 5px;
  text-decoration: underline;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
}

.horizontal-card .second .card-details, 
.time-cooking {
  float: right;
}

.time-cooking {
  font-weight: normal;
}

.time-cooking > span {
  font-weight: bold;
}

.card-details:hover {
  color: white;
  cursor: pointer;
  background-color: #4CABF5;
  border-radius: 5px;
}

.vertical-card {
  display: inline-block;
  width: 600px;
  margin: 0 15px 15px 0;
  padding: 20px;
  border: 2px #4CABF5 solid;
  border-radius: 30px;
  text-align: left;
  vertical-align: top;
}

.vertical-card .card-content {
  display: block;
}

.vertical-card .content-title {
  display: block;
  text-align: center;
}

.vertical-card .card-image {
  display: block;
  width: 400px;
  height: 200px;
  float: none;
  margin: 0 auto 15px auto;
  border-radius: 25px;
}

.vertical-card .content-info-wrapper {
  overflow: hidden;
  margin-bottom: 15px;
}

.vertical-card .ingredients {
  float: left;
  margin-right: 20px;
}

.vertical-card .ingredients > ul {
  width: 250px;
}

.vertical-card .cooking-block {
  overflow: hidden;
}

footer {
  clear: left;
  text-align: center;
}